{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{app.user.nom}} dans votre compte <br/>
<hr>
<a href="{{path('app_password')}}"> -Modifier mon mot de passe </a><br/>
<a href="{{path('app_adresse')}}"> -Gérer mes adresses <br/>
<a href="{{path('app_password')}}"> -Mes commandes <br/>
</hr>


{% endblock %}
