{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

<h3>Nos meilleur ventes</h3>
<p>Découvrez les articles les plus vendus</p>

<div class="row">
         {% for produit in produits %}
           <div class="col-md-3"> 
               {% include 'product/single_produit.html.twig' %}  
           </div>
         {% endfor %}
 </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
         <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Profitez de nos promotions exceptionnelles</br>
                <span class="text-muted">Des réductions allant jusqu'à 50%</span></h2>
                <p class="lead">Notre site e-commerce propose une expérience de shopping en ligne unique, avec des promotions exclusives et des offres exceptionnelles qui vous permettent de réaliser des économies sur vos achats. Profitez de notre large sélection de produits de qualité et de notre service clientèle hors pair pour une expérience de shopping en ligne inoubliable.</p>
            </div>
            <div class="col-md-5 order-md-1">
            <img src= "{{ asset('assets/img/pexels-karolina-grabowska-5632380.jpg')}}" alt="prix concurentielles ! " width="400" height="500">
            </div>
        </div>
        <hr class="featurette-divider">


        </br>
{% endblock %}