body {
    position: relative;
}
.navbar-item-custom,.navbar-item-custom a {
    color: #fff;
}
.footer-custom{
    text-align : center; 
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding-top: 25px;



}

.produit-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.produit-item{
    margin-top: 50px;
}

.produit-item .produit-proddescr{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.produit-item .produit-prix{
    font-size: 15px;
    font-weight: bold;
}
.produit-container{
    margin-bottom: 150px;
}
.produit-page-prix{
    font-weight: bold;
    font-size: 20px;
}
.cart-icon{
    height: 30px;
    padding-left: 20px;
}
.block-small{
    max-width: 600px;
    margin: 0 auto;
}
.form-check{
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}