{% extends 'base.html.twig' %}

{% block title %}Nos Produits {% endblock %}

{% block content %}
<div class="row">
<div class="col-md-3">
    <h1> Filtrer</h1>
    {{ form(form) }}
</div>
<div class="col-md-9">
    <h1> Nos produits</h1>

<div class="row produit-container">
 {% for produit in produits %}
   <div class="col-md-4">
       {% include 'product/single_produit.html.twig' %}
    </div>
 {% endfor %}
   </div>
  </div>
</div>

{% endblock %}
